.container{
 height: 1134px;      
 Width: 700px;
 background-image: url('https://i.postimg.cc/HsL8nx6Z/thankyou.png'); 
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 
 
  }
  
  h1 {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  
  p {
  margin: 0;
  font-size: 20px; 
  position: absolute;
  top: 45%;
  left: 50%;
  right: -20%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, -50%);
  } 
  
  button {
      margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  } 
  
  
