@font-face{
  font-family:"Nohea";
  src: url(fonts/Nohea.ttf) format('truetype');
}
@font-face{
  font-family:"Kagura";
  src: url(fonts/Kagura.ttf) format('truetype');
}


.container{
  height: 2300px;      
  Width: 1080px;
  background-image: url('https://i.postimg.cc/HsL8nx6Z/thankyou.png'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   }
   
   h1 {
    font-family: "Nohea", sans-serif;
   margin: 0;
    font-size: 90px;
   position: absolute;
   top: 30%;
   left: 30%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   }
   
   p {
    line-height: 0.9;
    font-family: "Kagura",sans-serif;
   margin: 0;
   font-size: 70px; 
   position: absolute;
   top: 40%;
   left: 50%;
   right: -20%;
   -ms-transform: translate(-50%, 0%);
   transform: translate(-50%, -50%);
   } 
   
   button {
       margin: 0;
    font-size: 65px;
   position: absolute;
   top: 60%;
   left: 55%;
   Right: -20%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%); 
   } 
   
   
