@font-face{
  font-family:"Nohea";
  src: url(fonts/Nohea.otf) format('truetype');
}
@font-face{
  font-family:"Kagura";
  src: url(fonts/Kagura.ttf) format('truetype');
}
@font-face{
  font-family:"Molina";
  src: url(fonts/Molina.otf) format('truetype');
}


.container{
  height: 2300px;      
  Width: 1080px;
  background-image: url('https://i.postimg.cc/HsL8nx6Z/thankyou.png'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
   }
   
   h1 {
   font-family: "Nohea", sans-serif;
   font-weight: 500;
   margin: 0;
   font-size: 140px;
   position: fixed;
   top: 30%;
   left: 35%; 
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   }
   
   p {
   line-height: 0.8;
   font-family: "Kagura",sans-serif;
   margin: 0;
   font-size: 110px; 
   position: fixed;
   top: 48%;
   left: 59%;
   right: -40%;
   -ms-transform: translate(-50%, 0%);
   transform: translate(-50%, -50%);
   } 
   
   button {
    font-family: "Molina", sans-serif;
    color: rgb(0, 110, 255);
   }
   button {
       margin: 0;
    font-size: 65px;
   position: absolute;
   top: 60%;
   left: 55%;
   Right: -20%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%); 
   } 
   
   
