@font-face{
  font-family:"Nohea";
  src: url(fonts/Nohea.otf) format('truetype');
}
@font-face{
  font-family:"Kagura";
  src: url(fonts/Kagura.ttf) format('truetype');
}
@font-face{
  font-family:"Molina";
  src: url(fonts/Molina.otf) format('truetype');
}
.container-fluid{

  height: 100%;      
  Width: 100%;
  background-image: url('https://i.postimg.cc/HsL8nx6Z/thankyou.png'); 
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: cover;
  margin-left: auto;
  margin-right: auto;
   }
   
   .modal {
    text-align: center;
    padding: 0!important;
  }
  .hidden {
    visibility: hidden;
  }
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  h5 {
    font-family: "Molina", sans-serif;
    height: 80px;     
    Width: 300px;
    top: 50%;
    left: 50%;
  }  
   button1 {
    font-family: "Molina", sans-serif;
    color: rgb(0, 0, 0);

    font-size: 65px;
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
   } 
 button {
    font-family: "Molina", sans-serif;
    color: rgb(0, 0, 0);

    font-size: 65px;
    position: fixed;
    left: 50%;
    top: 120%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
   }
   h1 {
    font-family: "Nohea", sans-serif;
    font-weight: 400;

    font-size: 140px;
    position: fixed;
    top: 30%;
    left: 35%; 
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }
   p {
   line-height: 0.8;
   font-family: "Kagura",sans-serif;

   font-size: 80px; 
   position: fixed;
   top: 45%;
   left: 59%;
   right: -30%;
   -ms-transform: translate(-50%, -20%);
   transform: translate(-50%, -50%);
   } 
   form{
    font-family: "Molina", sans-serif;
    color: rgb(0, 0, 0);

    font-size: 25px;
    position: absolute;
    left: 50%;
    top: -80%;
    -ms-transform: translate(40%, -50%);
    transform: translate(-50%, -50%); 
   } 




   
   
